<h1>Verbos-Completar con el verbo dado en el tiempo y persona que corresponda.</h1>



<p>El niño pequeño <input id="ejemplo" type="text"  [(ngModel)]="verbo" placeholder="Verbo: SALTAR" oninput="this.value = this.value.toLowerCase()"> el alambre ayer.</p>
<button (click)="comprobar()">comprobar</button>
<h1>{{mensaje}}</h1>
<hr>


<p>Juan y Pedro decidieron que pronto  <input id="ejemplo2" type="text"  [(ngModel)]="verbo2" placeholder="Verbo: CORRER" oninput="this.value = this.value.toLowerCase()"> la próxima maratón de la Ciudad.</p>
<button (click)="comprobar2()">comprobar</button>
<h1>{{mensaje2}}</h1>
<hr>

<p>Florencia pensaba que todo sería diferente, si <input id="ejemplo3" type="text"  [(ngModel)]="verbo3" placeholder="Verbo: ESCRIBIR-Pretérito pluscuamperfecto 1" oninput="this.value = this.value.toLowerCase()"> la carta a su abuela.</p>
<button (click)="comprobar3()">comprobar</button>
<h1>{{mensaje3}}</h1>

<hr>
