<h1>Ejercicios con Verbos</h1>
  
<div class="detalle">
    <p>Angular: Funciones básicas en typeScript</p>
</div>
<h1>Verbos-Completar con el verbo dado en el tiempo y persona que corresponda.</h1>

<div class="contenedor">

<p>El niño pequeño <input id="ejemplo" type="text"  [(ngModel)]="verbo" placeholder="Verbo: SALTAR"  title="usar solo minúsculas" oninput="this.value = this.value.toLowerCase()"> el alambre ayer.</p>
<button (click)="comprobar()"mat-button color="accent">comprobar</button>
<h1>{{mensaje}}</h1>
<hr>


<p>Juan y Pedro decidieron que pronto  <input id="ejemplo2" type="text"  [(ngModel)]="verbo2" placeholder="Verbo: CORRER" title="usar solo minúsculas"> la próxima maratón de la Ciudad.</p>
<button (click)="comprobar2()" mat-button color="accent">comprobar</button>
<h1>{{mensaje2}}</h1>
<hr>

<p>Florencia pensaba que todo sería diferente, si <input id="ejemplo3" type="text"  [(ngModel)]="verbo3" placeholder="Verbo: ESCRIBIR-Pretérito pluscuamperfecto 1" title="usar solo minúsculas"> la carta a su abuela.</p>
<button (click)="comprobar3()" mat-button color="accent">comprobar</button>
<h1>{{mensaje3}}</h1>

<hr></div>
