.example-radio-group {
  padding-left: 20%;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
  }
  
  .example-radio-button {
    margin: 2px;
  }
  
  .contenedor{
    padding-left: 10%;
  }
  .imagen{
    text-align: center;
    
  }