<h1>Presentación</h1>


<h2>NAP de Educación Primaria de 5 años :EN RELACIÓN CON LA REFLEXIÓN SOBRE LA LENGUA
    (SISTEMA, NORMA Y USO)
   </h2>
  <p> -sustantivos, adjetivos, artículos y verbos: algunos aspectos de su morfología flexiva tales como género, número,
    persona, tiempo (presente, pasado y futuro), y las relaciones de algunos de estos cambios con la funcionalidad
    en el texto. (pág. 35)
  </p>
  

  

<div class="botones"> 
  <button mat-flat-button color="primary" (click)="abrirpaginaV()">Presentación de  Verbos</button>
  <br>
  <br>
  <button mat-flat-button color="primary"(click)="abrirpaginaS()">Presentación de  Sustantivos</button>
 </div>

<div class=detalle>
  <span>Angular: Botones con mat-button y función para abrir url</span>
</div>